@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@500&family=Open+Sans:wght@500&display=swap");

:root {
  --main-color: #c6965c;
  --black: #141a13;
  --bg: #010103;
  --bg2: #191714;
  --secondary: #252320;
  --border: 0.1rem solid;
  --border-2: 0.1rem transparent;
}

* {
  font-family: "Lato", "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg2);
}

section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.sub-heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
  font-size: 3rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.sub-heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-image: linear-gradient(
    to right,
    #c7a172 0%,
    #c6965c 51%,
    #a17137 100%
  );
  background-size: 300% auto;
  cursor: pointer;
  border-radius: 7px;
  text-transform: uppercase;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  transform: scale(1.01);
}

.header-btn {
  margin-top: 0rem;
  margin-left: 1.5rem;
}

.header {
  background: var(--bg2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .navbar {
  margin-left: auto;
}

.header .logo img {
  height: 8rem;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
  padding: 0.4rem;
}

.header .navbar a:hover {
  color: var(--main-color);
  border: 0.2rem solid var(--main-color);
  background-color: rgba(25, 25, 25, 0.425);
  font-size: 1.6rem;
  padding: 0.35rem;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out border 0.3s ease-in-out
    transform 0.3s ease-in-out;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form.active {
  transform: scaleY(1);
  border-radius: 10px;
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--secondary);
  padding: 1rem;
  text-transform: none;
  border-radius: 10px;
}

.header .search-form label {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--secomdary);
}

.header .search-form label:hover {
  color: var(--main-color);
}

/* media queries */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .logo img {
    float: left;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: var(--secondary);
    width: 30rem;
    height: calc(100vh - 9.5rem);
    justify-content: flex-start;
  }

  .header .icon {
    margin-left: auto;
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .home .content p {
    font-size: 4.5rem;
  }

  .icons {
    margin-left: auto;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/printing.gif) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
}

.home .content p {
  font-size: 1rem;
  font-weight: medium;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

.home .owner {
  max-width: 60rem;
}

.home .owner h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
}

.home .owner p {
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

.content-owner-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 60rem; /* Adjust as needed */
  margin: 0 auto; /* Centers the content */
}

.owner img {
  margin-left: auto;
}

.owner h3 {
  margin-right: 1.5rem;
}

.owner p {
  margin-right: 1rem;
}

.owner .small-text {
  font-size: 0.8rem; /* Adjust as needed */
  color: #888; /* Adjust as needed */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.owner {
  order: 2;
  display: flex;
  flex-direction: column; /* Change this */
  align-items: flex-start; /* Add this */
  margin-top: 0rem; /* Adds space above the .owner div */
  padding: 1rem; /* Adds space around the text */
}

.owner-tag {
  color: #d3ad7f;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.owner-description {
  max-width: 750px;
}

.about .row {
  display: flex;
  align-items: center;
  background: var(--secondary);
  flex-wrap: wrap;
  border-radius: 10px;
}

.quote .row {
  display: flex;
  align-items: center;
  background-color: var(--secondary);
  flex-wrap: wrap;
  border-radius: 10px;
}

.sub-heading {
  margin-left: 4rem;
}

.estimate-icon {
  height: 175px;
  padding: 1rem;
  margin: 5rem;
  align-items: right;
  justify-content: right;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 50%;
  border-radius: 10px 10px 0 0;
}

.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #fff;
}

.about .row .content p {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}

.about .row .owner {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .owner h3 {
  font-size: 3rem;
  color: #fff;
}

.about .row .owner p {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}

.headshot {
  width: 200px;
  border-radius: 20px;
}
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  padding: 5rem;
  text-align: center;
  border: 0.25rem solid var(--border-2);
  background-color: var(--secondary);
  border-radius: 20px;
}

.menu .box-container .box:hover {
  border: 0.5rem solid var(--main-color);
}

.menu .box-container .box h3:hover {
  color: var(--main-color);
}

.menu .box-container .box-type {
  padding: 5rem;
  text-align: center;
  border: var(--border-2);
}
.menu .box-container .box img {
  height: 13rem;
}

.menu .box-container .box-type img {
  height: 10rem;
}

.menu .box-container .box h3 {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}

.menu .box-container .box-type h3 {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}

.menu .box-container .box .price {
  color: #fff;
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

.menu .box-container .box .price span {
  color: #fff;
  font-size: 2.5rem;
  text-decoration: line-through;
}

.menu .box-container .file-type {
  background: var(--main-color);
  border-radius: 20px;
  padding: 15px;
}

.menu .box-container .file-type:hover {
  transform: scale(1.1);
}

.menu .box-container .box .file-type {
  border: none;
}

.services {
  border-radius: 20px;
  width: 175px;
  display: center;
}

/*Contact Form Code*/

form {
  background-color: var(--secondary); /* Change this to the color you want */
  padding: 20px; /* Change this to the size you want */
  border-radius: 5px; /* Change this to the size you want */
  width: 100%;
  max-width: 500px; /* Change this to the size you want */
  margin: 0 auto; /* This will center the form */
}

form label {
  display: block;
  margin-bottom: 10px; /* Change this to the size you want */
  color: #fff;
  font-size: 1.5em;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px; /* Change this to the size you want */
  border: 1px solid #ddd; /* Change this to the color you want */
  border-radius: 5px; /* Change this to the size you want */
  margin-bottom: 20px; /* Change this to the size you want */
  text-transform: none;
}

form input[type="submit"] {
  background-color: var(--main-color); /* Change this to the color you want */
  color: #fff; /* Change this to the color you want */
  padding: 10px 20px; /* Change this to the size you want */
  border: none;
  border-radius: 5px; /* Change this to the size you want */
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #444; /* Change this to the color you want */
}

/* This will create a flex container */
.contact-container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px; /* Adjust this to change the size of the container */
  margin: 0 auto; /* This will center the container */
}

/* This will style the form */
.contact-container form {
  flex: 1;
  /* Add the same CSS properties as the "About Us" box */
}

/* This will style the image box */
.contact-container .image-box {
  flex: 1;
  /* Add the same CSS properties as the "About Us" box */
}

.contact-h3 {
  color: var(--main-color);
  padding: 20px;
  font-size: 30px;
  text-align: right;
  margin-right: 30px;
}

/* Footer Code */
.footer {
  background: var(--secondary);
  text-align: center;
}

.footer .share {
  padding: 0;
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: 4rem;
  border-radius: 50%;
}

.footer .share a:hover {
  background: var(--main-color);
  transform: scale(1.1);
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
  gap: 0.5rem;
}

.footer .links a {
  padding: 0.7rem 2rem;
  color: #fff;
  border: none;
  font-size: 1.5rem;
}

.footer .links a:hover {
  color: var(--main-color);
}

.footer .credit {
  font-size: 2rem;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
}

.footer .credit span {
  color: var(--main-color);
}

.form-wrapper {
  display: flex;
}

.footer .navf {
  display: flex;
  flex-wrap: wrap;
  color: var(--main-color);
  justify-content: center;
  padding: 1rem;
  margin-right: 64rem;
}

hr {
  display: flex;
  float: center;
  justify-content: center;
  border: 0;
  height: 1px;
  background: white;
  margin: 1rem 0;
  width: 80rem;
  margin-left: 26rem;
  align-items: center;
}

.white-square-logo {
  width: 72px;
  margin-left: 5px;
}

@media screen and (max-width: 600px) {
  .foooter .navf {
    display: flex;
    flex-wrap: none;
    justify-content: center;
    padding: 1rem;
    align-items: center;
  }

  hr {
    width: 100%;
    margin-left: 0;
  }
}

.email-icon {
  margin-right: 1rem; /* Adds space to the right of the icon */
  width: 30%;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .email-icon {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .form-wrapper {
    flex-direction: column;
  }

  .order {
    padding: 2rem;
    width: 40rem;
    margin-top: 10rem;
  }

  label[for="files"],
  #phone,
  #materials {
    width: 100%;
  }
}

.order {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/printing.gif) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  margin-top: 10rem;
}

.order form {
  max-width: 1000px;
}

.radio-buttons {
  display: flex;
  gap: 1rem; /* Adds space between the radio buttons */
}

.checkboxes {
  display: flex;
  gap: 1rem; /* Adds space between the checkboxes */
}

.radio-buttons input[type="radio"] {
  display: none;
}

.radio-buttons label {
  position: relative;
  padding-left: 25px;
}

.radio-buttons label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
}

.radio-buttons input[type="radio"]:checked + label::before {
  background-color: var(--main-color);
}

#phone {
  width: 100%; /* Full width */
  padding: 0.5rem; /* Padding */
  border: 1px solid #ccc; /* Border */
  border-radius: 4px; /* Rounded corners */
  box-sizing: border-box; /* Make sure padding and border are included in the total width */
  margin-top: 6px; /* Some space at the top */
  margin-bottom: 16px; /* Some space at the bottom */
  resize: vertical; /* Allow the user to vertically resize the input box (but not horizontally) */
}

#files {
  display: none;
}

label[for="files"] {
  padding: 0.5rem;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  width: 125px; /* Adjust this value to your liking */
  display: inline-block; /* Needed to apply width */
  text-align: center; /* Center the text */
}

#materials {
  width: 100%; /* Full width */
  padding: 0.5rem; /* Padding */
  border: 1px solid #ccc; /* Border */
  border-radius: 4px; /* Rounded corners */
  box-sizing: border-box; /* Make sure padding and border are included in the total width */
  margin-top: 6px; /* Some space at the top */
  margin-bottom: 16px; /* Some space at the bottom */
  appearance: none; /* Remove default appearance */
  background-color: #fff; /* Background color */
}

.contact-header {
  color: var(--main-color);
  font-style: Bold;
  font-size: 3rem;
  padding: 10px 10px 20px 0;
}

.terms-link {
  color: var(--main-color);
  text-decoration: none;
  margin-bottom: 10px;
  float: right;
}

.form-image {
  width: 800px; /* Adjust as needed */
  height: 1140px;
  float: left;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .form-image {
    display: none;
  }
}
/*faq page */

#faq-item1 {
  margin-top: 100px;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  padding: 0 1rem;
}

.faq-item.active .faq-answer {
  max-height: 10rem; /* Adjust this value based on your content */
}

.faq-section {
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}

.faq-item {
  background: transparent;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.faq-question {
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2rem;
  font-size: 1.2rem;
  background-image: linear-gradient(
    to left,
    #c7a172 0%,
    #c6965c 51%,
    #a17137 100%
  );
  color: #eee;
  transition: 0.4s;
  border-radius: 20px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  padding: 0 1rem;
  color: #eee;
}

.faq-item.active .faq-answer {
  max-height: 10rem; /* Adjust this value based on your content */
}

.faq-question {
  /* existing styles */
  position: relative;
}

.arrow {
  position: absolute;
  right: 10px;
  top: 38%;
  transform: translateY(-50%);
  border: solid whitesmoke;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  transition: transform 0.3s;
}

.faq-item.active .arrow {
  transform: rotate(45deg);
}

#specs {
  max-width: 460px;
  text-transform: none;
}

#quantity {
  border-radius: 5px;
}

#fileDisplayArea {
  color: white;
  /* Add your positioning properties here. For example: */
  position: relative;
  text-align: left;
  margin-bottom: 40px;
  top: 0px; /* Adjust this value as needed */
  left: 10px; /* Adjust this value as needed */
}

#message {
  max-width: 460px;
}

label span {
  color: red;
}

#quote {
  position: relative;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: flex;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 8px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

/* top right*/
.ribbon-top-right {
  right: px;
}

.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

.madeBy {
  color: var(--main-color);
}

/* Terms page CSS */

.terms {
  color: var(--main-color);
}

.terms p {
  color: white;
  font-size: 1.5rem;
  margin-left: 3rem;
  margin-top: 1rem;
  text-transform: none;
}

.terms p span {
  color: red;
}

.terms p a {
  color: var(--main-color);
  text-transform: none;
}
.terms h3 {
  font-size: 3rem;
}

.heading {
  margin-top: 10rem;
}

/* Product Page CSS */

.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5rem;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 0px;
  margin: 20px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  max-height: 510px;
}

.card:nth-child(-n + 4) {
  margin-top: 100px; /* Replace with the desired value */
}

@media screen and (max-width: 768px) {
  .card:nth-child(-n + 1) {
    margin-top: 90px;
  }
}

.card img {
  width: 100%;
  height: 250px;
  max-height: 250px;
  max-width: 300px;
  margin-bottom: 20px;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: -10px;
}

.card .content {
  padding: 0px;
}

.price {
  color: white;
  font-size: 1.5rem;
  padding: 10px;
}

.shipping {
  color: var(--main-color);
  font-size: 1.11rem;
  padding: 7px 7px 5px 10px;
}

.attribution {
  color: white;
  font-size: 1.11rem;
  padding: 10px;
}

.product-name {
  color: white;
  font-size: 2rem;
  padding: 10px 10px 0px 10px;
}

.card .p {
  color: white;
}

.description {
  color: white;
  padding: 5px 10px 0px 10px;
}

.order-btn {
  background-image: linear-gradient(
    to right,
    #c7a172 0%,
    #c6965c 51%,
    #a17137 100%
  );
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 0.9rem 3rem;
  align-items: bottom;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 300% auto;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  border-width: 0px;
  width: 57%;
  height: 8%;
  cursor: pointer;
  font-size: 1.2rem;
}

.order-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  transform: scale(1.02);
}

.splide__slide img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Optional: to make images look better */
}
.splide {
  max-width: 800px; /* Adjust the max-width as needed */
  margin: auto; /* Center the carousel */
  overflow: visible; /* Ensure overflow is visible */
}
.splide__track {
  overflow: visible; /* Ensure track overflow is visible */
}
.splide__list {
  min-height: 300px; /* Ensure the container has enough height */
}
.splide__slide {
  transition: transform 0.5s, opacity 0.5s;
  margin: 0 10px; /* Add margin between slides */
}
.splide__slide.is-active {
  transform: scale(1.2); /* Scale up the active slide */
  opacity: 1;
  z-index: 1; /* Ensure the active slide is on top */
}
.splide__slide:not(.is-active) {
  transform: scale(0.8); /* Scale down the non-active slides */
  opacity: 0.5; /* Reduce opacity of non-active slides */
}

/* Custom styles for arrow controls */
.splide__arrow {
  background: #333; /* Arrow background color */
  color: #fff; /* Arrow color */
  border-radius: 50%; /* Round arrows */
  width: 40px; /* Arrow size */
  height: 40px; /* Arrow size */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}
.splide__arrow:hover {
  background: #555; /* Hover background color */
}

/* Custom styles for pagination bullets */
.splide__pagination {
  margin-top: 1rem; /* Space above pagination */
}
.splide__pagination__page {
  background: #333; /* Bullet background color */
  width: 10px; /* Bullet size */
  height: 10px; /* Bullet size */
  border-radius: 50%; /* Round bullets */
  margin: 0 5px; /* Space between bullets */
  transition: background 0.3s;
}
.splide__pagination__page.is-active {
  background: #fff; /* Active bullet color */
}

.splide__arrow--next {
  right: -50px;
}

.splide__arrow--prev {
  left: -30px;
}
